<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-4">
      <div class="text-center">
        <div class="m-4" *ngIf="mostrarRespuesta">
          <h5>Preguntas anteriores</h5>
          <button type="button" class="btn btn-success mr-2" (click)="preguntaAnterior()" style="margin-right: 5px;"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</button>
          <button type="button" class="btn btn-success mr-2" (click)="preguntaSiguiente()" style="margin-right: 5px;">Siguiente<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <h5>¿Cuanto sabe la bebita?</h5>
        <br>
        <div>
          <span>Comprar foto</span>
          <button type="button" class="btn btn-danger m-1" (click)="comprarPista()"><i class="fas fa-image"></i></button>
        </div>
      </div>
      <div class="mt-4">
        <div class="mb-4 d-flex justify-content-center">
          <img class="img-fluid w-100 h-100" [src]="'assets/adivinaDia/' + (preguntaIndex + 1) + '/' + (imagenActual + 1) + '.jpg'" alt="Foto" style="border-radius: 10px; height: 200px; object-fit: cover;">
        </div>
        <div class="col-md-12">
          <div class="text-center mt-4 align-content-between">
            <h4 class="float-start m-2">{{imagenActual + 1}}</h4>
            <button [disabled]="pistasCompradas == 0" type="button" class="btn btn-success mr-2" (click)="mostrarAnteriorImagen()" style="margin-right: 5px;"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</button>
            <button [disabled]="pistasCompradas == 0" type="button" class="btn btn-success" (click)="mostrarSiguienteImagen()">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </div>
        </div>
        <br>
        <h5>{{preguntaActual.pregunta}}</h5>
        <div class="col-md-6" *ngFor="let opcion of preguntaActual.opciones.slice(0, 4); let i = index">
          <button type="button" class="btn mb-2 btn-primary" 
            (click)="bip.play()"
            [ngClass]="{
            'btn-secondary': opcion === respuestaSeleccionada, 
            'btn-success': mostrarRespuesta && opcion === respuestaSeleccionada && esRespuestaCorrecta(), 
            'btn-danger': mostrarRespuesta && opcion === respuestaSeleccionada && !esRespuestaCorrecta()}" 
            (click)="respuestaSeleccionada = opcion" style="margin-bottom: 10px;"
            [disabled]="mostrarRespuesta">
            <span class="fw-bold">{{ i + 1 }})</span>  {{ opcion }}
         </button>
        <span *ngIf="mostrarRespuesta && opcion === respuestaSeleccionada && esRespuestaCorrecta()" class="text-success m-1">✔</span>
        <span *ngIf="mostrarRespuesta && opcion === respuestaSeleccionada && !esRespuestaCorrecta()" class="text-danger m-1">✖</span>
        
        
        
      </div>
      <div class="col-md-12 mt-4" *ngIf="mostrarRespuesta">
        <p *ngIf="esRespuestaCorrecta()" class="text-success">¡Respuesta correcta!</p>
        <p *ngIf="!esRespuestaCorrecta()" class="text-danger">Respuesta incorrecta</p>
      </div>
        
        
        <!-- <div class="col-md-6"> -->
          <!-- <button type="button" class="btn btn-primary  mb-2" *ngFor="let opcion of preguntaActual.opciones.slice(2, 4)" -->
            <!-- [ngClass]="{'btn-success': opcion === respuestaSeleccionada}" -->
            <!-- (click)="respuestaSeleccionada = opcion" style="margin-bottom: 10px;"> -->
            <!-- {{ opcion }} -->
          <!-- </button> -->
        <!-- </div> -->
        <div class="col-md-12">
          <div class="text-center mt-4">
            <button type="button" class="btn btn-success" (click)="enviarRespuesta()">Enviar respuesta</button>
          </div>
        </div>
        <div class="col-md-12 mt-4" *ngIf="mostrarRespuesta">
          <!-- <p *ngIf="respuestaSeleccionada === preguntaActual.respuesta" class="text-success">¡Respuesta correcta!</p> -->
          <!-- <p *ngIf="respuestaSeleccionada !== preguntaActual.respuesta" class="text-danger">Respuesta incorrecta</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
