.emoji{
    background-color: transparent;
    scale: 2;
    border-color: transparent;
    border: none !important;
    margin-right: 0.6em;
    margin-left: 0.6em;
}

.emoji:hover{
    background-color: transparent;
    scale: 2.4;
    border-color: transparent;
    border: none !important;
}